doctype html
html

    include ./partials/header.pug

    body
    
    block content 

    include ./partials/footer.pug

//- if you omit the doctype and html tags from your layout file, the Pug compiler won't know what type of document you're generating and may not generate valid HTML. 